<p style="color: green"><%= notice %></p>

<div class="row wrapper white-bg page-heading" style="margin-left: 0px;">
 <div class="col-xs-2 col-sm-8 col-md-4">
    <h4><%= title %></h4>
 </div>
</div>
<br>