<p id="notice"><%= notice %></p>
<br><div class="row" style="margin-left: 10px; margin-right: 10px;" >
 <div class="col-xs-2 col-sm-8 col-md-11">
    <h4><strong><%= title %></strong></h4>
 </div>
  <div class="col-xs-2 col-sm-4 col-md-1">
    <div class="title-action">
      <%= link_to 'Novo', new_url, :class => "button btn btn-success btn-sm" %>
    </div>
  </div>
</div> <br>